<h1>Liste des messages reçus :</h1>
<!-- FIXME autitication -->

      Pour nous contacter
      merci d'utiliser ce formulaire.
      Nous serons heureux de répondre à toute demande d'information complémentaire.
      (les champs marqués d'une * doivent obligatoirement être renseignés)

<table>
  <tr>
    <th>Nom</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_messages.each do |contact_message| %>
  <tr>
    <td><%= contact_message.nom %></td>
    <td><%= contact_message.email %></td>
    <td><%= contact_message.telephone %></td>
    <td><%= contact_message.message %></td>
    <td><%= link_to 'Show', contact_message %></td>
    <td><%= link_to 'Edit', edit_contact_message_path(contact_message) %></td>
    <td><%= link_to 'Destroy', contact_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact message', new_contact_message_path %>
