
<h1 align='center' >
  <font face="cursive">
    Hôtel
    <span>
      <i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i>
    </span>
    La Maison Créole <br>
  </font>
</h1>
<br>
<div class='row' style="text-align:justify">
  <div class='span6'>
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#hotel"><b>Hôtel</b></a></li>
      <li><a href="#hebergement"><b>Hébergement</b></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="hotel">
        <h3>Découverte, Détente, Douceur de vivre:<br></h3>
        Avec son architecture et ses couleurs typiquement créoles, "La Maison Créole" est un charmant hôtel résidence de catégorie trois étoiles où se côtoient simplicité et convivialité. Il est composé d'un bâtiment unique chambres donnant sur le jardin tropical ou sur la piscine. 
        <br><br>
        <div style="margin:auto;max-width:600px">
          <div id="myCarousel" class="carousel slide" >
            <ol class="carousel-indicators">
             <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
             <li data-target="#myCarousel" data-slide-to="1" class=""></li>
             <li data-target="#myCarousel" data-slide-to="2" class=""></li>
             <li data-target="#myCarousel" data-slide-to="3" class=""></li>
             <li data-target="#myCarousel" data-slide-to="4" class=""></li>
             <li data-target="#myCarousel" data-slide-to="5" class=""></li>
            </ol>
            </ol>
            <div class="carousel-inner">
              <div class="item active" style="max-width:600px">
              <!-- <div class="carousel-caption">
                <h4>Le Gosier</h4>
              </div> -->
                <%= image_tag('images_hotel/accueil_2.jpg') %>
              </div>
              <div class="item" style="max-width:600px">
                <%= image_tag('images_hotel/accueil.jpg') %>
              <!-- <div class="carousel-caption">
                <h4>Piscine de nuit</h4>
              </div> -->
              </div>
              <div class="item" style="max-width:600px">
                <%= image_tag('images_hotel/entre.jpg') %>
              <!-- <div class="carousel-caption">
                <h4>La plage est là, pour vous!</h4>
              </div> -->
              </div>
              <div class="item" style="max-width:600px">
                <%= image_tag('images_hotel/salon_etage.jpg') %>
              <!-- <div class="carousel-caption">
                <h4>La plage est là, pour vous!</h4>
              </div> -->
              </div>
              <div class="item" style="max-width:600px">
                <%= image_tag('images_hotel/piscine_1.jpg') %>
              <!-- <div class="carousel-caption">
                <h4>La plage est là, pour vous!</h4>
              </div> -->
              </div>
              <div class="item" style="max-width:600px">
                <%= image_tag('images_hotel/piscine_nuit.jpg') %>
              <!-- <div class="carousel-caption">
                <h4>La plage est là, pour vous!</h4>
              </div> -->
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>
        </div>
      </div>


      <div class="tab-pane" id="hebergement">
        L'hôtel est composé de <b>58 studios pour 1 à 5 personnes</b>,équipés de kitchenettes avec réfrigérateur, TV, téléphone direct et climatisation individuelle.Notre réception est ouverte 24h/24, le personnel chaleureux et attentionné sera heureux de vous accueillir. 
        <%= link_to 'Voir Tarifs', reserver_path, class: 'btn btn-mini btn-success' %>.
        <br><br>
        <div style="margin:auto;max-width:600px">
          <div id="myCarousel2" class="carousel slide" >
            <ol class="carousel-indicators">
             <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
             <li data-target="#myCarousel2" data-slide-to="1" class=""></li>
             <li data-target="#myCarousel2" data-slide-to="2" class=""></li>
             <li data-target="#myCarousel2" data-slide-to="3" class=""></li>
             <li data-target="#myCarousel2" data-slide-to="4" class=""></li>
             <li data-target="#myCarousel2" data-slide-to="5" class=""></li>
            </ol>
            </ol>
            <div class="carousel-inner">
              <div class="item active" style="max-width:600px">
              <!-- <div class="carousel-caption">
                <h4>Le Gosier</h4>
              </div> -->
                <%= image_tag('images_hotel/chambre1.jpg') %>
              </div>
              <div class="item" style="max-width:600px">
                <%= image_tag('images_hotel/chambre2.jpg') %>
              <!-- <div class="carousel-caption">
                <h4>Piscine de nuit</h4>
              </div> -->
              </div>
              <div class="item" style="max-width:600px">
                <%= image_tag('images_hotel/entre.jpg') %>
              <!-- <div class="carousel-caption">
                <h4>La plage est là, pour vous!</h4>
              </div> -->
              </div>
              <div class="item" style="max-width:600px">
                <%= image_tag('images_hotel/salon_etage.jpg') %>
              <!-- <div class="carousel-caption">
                <h4>La plage est là, pour vous!</h4>
              </div> -->
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel2" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel2" data-slide="next">›</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span6">  
    <div class='row'>
      <div class="span6">
        <div class='well'>
          <h3 align='center'>Au cœur de la Guadeloupe:</h3>
          Situé à l'entrée du Gosier et proche de tous commerces, l'hôtel est le point de départ idéal pour partir à la découverte de l'île papillon. A proximité, vous trouverez des commerces, des bars de nuit et le casino. L'hôtel se trouve à 20 mn de l'aéroport Pôle Caraïbes, à 10 mn du centre ville de Pointe à Pitre et à <b>800 m des plages</b>.<br><br>
          <%= link_to image_tag('images_hotel/carte.jpg', :width => '100%', class: "img-circle"), 'https://maps.google.fr/maps?q=H%C3%B4tel+La+Maison+Cr%C3%A9ole,+Montauban,+Pointe-%C3%A0-Pitre+97190&hl=fr&ie=UTF8&ll=16.227861,-61.505585&spn=0.270637,0.506058&sll=16.216817,-61.479492&sspn=0.135326,0.253029&hq=H%C3%B4tel+La+Maison+Cr%C3%A9ole,+Montauban,+Pointe-%C3%A0-Pitre+97190&t=m&z=12' %>
          <br><br>
          <div class='row'>
            <div class='span3'>
              <b style="font-size:150%">Hôtel La Maison Créole</b><br>
              Montauban, Pointe-a-Pitre <br>
              97190, Guadeloupe <br>
              05 90 84 36 43
            </div>
            <div class='span2'>
              <a class='btn' href="https://maps.google.fr/maps?saddr=a%C3%A9roport+guadeloupe&daddr=H%C3%B4tel+La+Maison+Cr%C3%A9ole,+Montauban,+Pointe-%C3%A0-Pitre+97190,+Guadeloupe&hl=fr&ie=UTF8&ll=16.21929,-61.483269&spn=0.135325,0.253029&sll=16.212426,-61.496779&sspn=0.002115,0.003954&geocode=FcIr-AAdGDFV_CG0iYwFTDZZMymhVJO_PEYTjDG0iYwFTDZZMw%3BFY9h9wAdVqFV_CkBAAAAAF0TjDHvat98rizw5w&t=m&mra=ls&z=13" target="_blank">Trajet depuis l'aéroport</a>
            </div>
          </div>
          <%#= image_tag('images_hotel/entre.jpg', class: "img-polaroid", width: '100%') %>
        </div>
        
      </div>
    </div>
    <!-- <br> -->
    <%#= image_tag('images_hotel/accueil.jpg', :width => '100%', class: 'img-polaroid') %>
  </div>
</div>

<br><br>
<script type="text/javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
