<br>
<div align='center'>
  <%= image_tag('images_restau/tabledebacchus.gif', align: "center") %>
</div>

<h3 align='center'>La Maison Créole Bénéficie d'une excellente restauration.</h3>
<h5 align='center'>L'équipe sera heureuse de vous accueillir dans un cadre convivial, vous aurez le choix entre une salle climatisée ou une terrasse bien ventillée avec un fond de musiques variées.</h5>

<div class="row" style="text-align:justify">
  <span class="span4" style="text-align:center">
    <span class='visible-desktop'>
      <br>
      <%= image_tag('images_restau/cocktail1.jpg', class: "img-polaroid", width: '55%') %><br><br><br>
      <%= image_tag('images_restau/magret_de_canard.jpg', class: "img-polaroid", width: '75%') %><br><br><br>
      <%= image_tag('images_restau/plat1.jpg', class: "img-polaroid", width: '75%') %><br><br><br>
      <%= image_tag('images_restau/img_restau_1.jpg', class: "img-polaroid", width: '75%') %>
    </span>
  </span>
  <span class="span4" style="text-align:center">
    <h4 align='center'>
    <br><br><br><br>
    Vous découvrirez et apprécierez nos différents cocktails colorés et préparés par nos soins.
    <br><br><br><br><br><br><br><br><br><br><br><br>
    Des plats raffinés et traditionnels mariant les saveurs du terroir aux senteurs des îles.<br><br><br>
    Venez dîner à la Table de Bacchus, les menus sont divers et variés, appréciés par toute notre clientèle.
    <br><br><br><br><br><br><br><br><br><br><br><br>
    Nous organisons toutes réceptions : mariages, baptêmes, anniversaires, repas d'affaires...<br>
    A l' occasion des différentes fêtes de l'année, Pâques, Noël, Nouvel An. Saint Valentin et Fêtes des Mères etc...
  </h4>
  </span>
  <span class="span4" style="text-align:center">
    <span class='visible-desktop'>
      <br>
      <%= image_tag('images_restau/cocktail4.jpg', class: "img-polaroid", width: '55%') %><br><br><br>
      <%= image_tag('images_restau/diner_pour_deux.jpg', class: "img-polaroid", width: '75%') %><br><br><br>
      <%= image_tag('images_restau/plat3.jpg', class: "img-polaroid", width: '75%') %><br><br><br>
      <%= image_tag('images_restau/resto_table.jpg', class: "img-polaroid", width: '75%') %>
    </span>
  <span class='span8'>
</div>
    <!-- <h2 align='center' style='color:orange'>Demi-Pensions - Menus - Carte</h2> 
    <div class='row'>
      <br>
      <div class='span4'>
      Les menus de La Table de Bacchus sont divers et colorés et appréciés par toute notre clientèle. Les demi-pensionnaires composent quotidiennement leur menu. <b>La demi pension peut se réserver pour tout ou partie du séjour</b>. Celle-ci est servie <b>midi ou soir au choix</b>
      </div>
      <div class='span4'>
      <b>La TABLE DE BACCHUS se situe directement à l'entrée de l'hôtel</b>, ouverte tous le jours (sauf le dimanche). Vous avez le choix entre une salle climatisée ou une terrasse bien ventilée et verdoyante
      </div>
    </div>
    <br><br>
-->

